<% content_for :title do %><%= "#{ENV[ 'TITLE_PREFIX' ]} Service Dashboard" %><% end %>
<div class="gridster">
  <center><div style="font-size: 22px"><a href="/libraoc" class="pull-left">&nbsp;previous</a><%= "#{ENV[ 'TITLE_PREFIX' ]} Service Dashboard" %><a href="/libraetd" class="pull-right">next&nbsp;</a></div></center>

  <ul>

     <% services = [ 'DEPOSIT_AUTH_SERVICE',
                     'DEPOSIT_REG_SERVICE',
                     'ENTITY_ID_SERVICE',
                     'ORCID_ACCESS_SERVICE',
                     'TOKEN_AUTH_SERVICE',
                     'USER_INFO_SERVICE',
                     'REDIS' ] %>
     <% services.each do |key| %>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="<%= "#{CONFIG[key]['id']}" %>" data-view="Statusbox" data-title="<%= "#{CONFIG[key]['title']}" %>" data-text="Down"></div>
        </li>

     <% end %>

    <% 5.times do || %>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="blank" data-view="Comments" data-title="Blank" data-text=""></div>
        </li>
    <% end %>

   </ul>
</div>