<% content_for :title do %>Service Dashboard<% end %>
<div class="gridster">
   <ul>

     <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
       <div data-view="Clock"></div>
       <i class="icon-time icon-background"></i>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="mysql-depositauth" data-view="Statusbox" data-title="MySQL" data-moreinfo="Deposit Authorization Service" data-text="Up"></div>
      </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="sis-depositauth" data-view="Statusbox" data-title="SIS" data-moreinfo="Deposit Authorization Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="oracle-firehose" data-view="Statusbox" data-title="Oracle" data-moreinfo="Firehose Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ldap-user" data-view="Statusbox" data-title="LDAP" data-moreinfo="User Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="virgo" data-view="Statusbox" data-title="Virgo" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="libra" data-view="Statusbox" data-title="Libra" data-text="Up"></div>
     </li>

   </ul>
</div>