<% content_for :title do %>Development Dashboard<% end %>
<div class="gridster">
   <center><div style="font-size: 22px">Development Dashboard</div></center>

   <ul>

     <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
       <div data-view="Clock" style="background-color:MediumSeaGreen;"></div>
       <i class="icon-time icon-background"></i>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="virgo-time" data-view="Meter" data-title="Virgo" data-min="0" data-max="1500" data-moreinfo="Response time in mS"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="libra-time" data-view="Meter" data-title="Libra" data-min="0" data-max="1500" data-moreinfo="Response time in mS"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="mysql-depositauth" data-view="Statusbox" data-title="MySQL" data-moreinfo="Deposit Authorization Service" data-text="Up"></div>
      </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="sis-depositauth" data-view="Statusbox" data-title="SIS" data-moreinfo="Deposit Authorization Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="oracle-firehose" data-view="Statusbox" data-title="Oracle" data-moreinfo="Firehose Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ldap-user" data-view="Statusbox" data-title="LDAP" data-moreinfo="User Service" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="virgo" data-view="Statusbox" data-title="Virgo" data-text="Up"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="libra" data-view="Statusbox" data-title="Libra" data-text="Up"></div>
     </li>

   </ul>
</div>