<% content_for :title do %>Service Dashboard<% end %>
<div class="gridster">
   <ul>

     <li data-row="1" data-col="1" data-sizex="4" data-sizey="1">
       <div data-view="Clock"></div>
       <i class="icon-time icon-background"></i>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="mysql" data-view="Statusbox" data-title="mysql" data-text="OK"></div>
      </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="oracle" data-view="Statusbox" data-title="Oracle" data-text="OK"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="ldap" data-view="Statusbox" data-title="LDAP" data-text="OK"></div>
     </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
       <div data-id="sis" data-view="Statusbox" data-title="SIS" data-text="OK"></div>
     </li>

   </ul>
</div>